.flower-1 {
    transform: scale(0.7); /* 70% от оригинального размера */
    top: 15%;
    left: 10%;
}

.flower-2 {
    transform: scale(0.5); /* 50% от оригинального размера */
    top: 65%;
    left: 85%;
}

.flower-3 {
    transform: scale(0.6); /* 60% от оригинального размера */
    top: 40%;
    left: 75%;
}

.floating-flower {
    transition: all 0.5s ease;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}